<template name="BancosIndex">
	<table class="table table-bordered" style = "width:80%" align = "center">
  		<thead>
  			<tr>
  				<th colspan = "10" style = "text-align: center"><h3>{{bank}}</h3></th>
  			</tr>
  			<tr>
  				<th style = "text-align: center">Sucursal</th>
          <th style = "text-align: center">Tiempo Espera</th>
  				<th style = "text-align: center">Direccion</th>
          <th style = "text-align: center">Tel&eacute;fono</th>
          <th style = "text-align: center">Horario L-V</th>
          <th style = "text-align: center">Horario S</th>
          <th style = "text-align: center">Horario D</th>
  				
  			</tr>
  		</thead>
  		<tbody>
  			{{#each sucursalesBancos}}
				{{> BancoItem}}
			{{/each}}
  		</tbody>
	</table>
</template>

<template name="BancoItem">
	<tr>
  		<td><label>{{sucursalParam}}</label></td>
      <td>{{#if verde}}
            {{> Verde}}
          {{/if}}
      </td>
  		<td><label>{{direccionParam}}</label>
  		<label>#{{numeroParam}}</label>  		
      <label>{{coloniaParam}}</label>
  		<label>C.P. {{cpParam}}</label></td>
  		<td><label>{{telefonoParam}}</label></td>
  		<td><label>{{horarioLVParam}}</label></td>
  		<td><label>{{horarioSParam}}</label></td>
  		<td><label>{{horarioDParam}}</label></td>
  	</tr>
	
	
</template>

<template name = "Verde">
  <div>
    <label style="color: #41924B; display: block; text-align: center">VERDE</label>
  </div>
</template>

<template name = "Amarillo">
  <div>
    <label style="color: #FFCC00; display: block; text-align: center">VERDE</label>
  </div>
</template>

<template name = "Rojo">
  <div>
    <label style="color: #FF0000; display: block; text-align: center">VERDE</label>
  </div>
</template>