<template name="Index">

<div style = "top:50px" align = "center">
	<img src = "Logo.jpg" style = "width:180px; height:180px">
</div>


<div class="panel panel-info" style = "width:500px; position:absolute; top:200px; left: 75px">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">BANCOS</h3>
  </div>
  <div class="panel-body">
  	<div class="img">
    	<img src="Banamex.png">
	</div>
	<div class="img">
    	<img src="Banorte.png" >
	</div>
	<div  class="img">
    	<img src="Bancomer.png" >
	</div>
  </div>
</div>

<div class="panel panel-success" style = "width:500px; position:absolute; top:200px; left: 700px">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">TELEFONIA</h3>
  </div>
  <div class="panel-body">
  	<div class="img">
    	<img src="Telcel.png">
	</div>
	<div class="img">
    	<img src="Movistarxx.jpg" >
	</div>
	<div  class="img">
    	<img src="Iusacell.jpg" >
	</div>
  </div>
</div>

<div class="panel panel-warning" style = "width:500px; position:absolute; top:400px; left: 350px">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">SERVICIOS</h3>
  </div>
  <div class="panel-body">
  	<div class="img">
   		<img src="Cablevision.png">
	</div>
	<div class="img">
    	<img class = "cfe" src="Cfe.jpg" >
	</div>
	<div  class="img">
    	<img class = "ayd" src="Ayd.jpg" >
	</div>
  </div>
</div>

</template>





