/*****************************************************************************/
/* Index: Style */
/*****************************************************************************/

img {
	padding: 10px;
	width:150px;
}

.ayd {
	width:80px;
	margin-left:15px;
}

.cfe {
	margin-left:20px;
}

div .img {
	display: inline;
}