/*****************************************************************************/
/* Index: Style */
/*****************************************************************************/

img {
	padding: 10px;
	width:150px;
}

.ayd {
	width:80px;
	margin-left:15px;
}

.cfe {
	margin-left:20px;
}

div .img {
	display: inline;
}


#footer{
	position:relative;
	bottom:0;
	width:100%;
	height:40px;
	overflow:hidden;
	background:#2A2A2A;
	color:#707070;
}

#footer ul{
	list-style-type:none;
}

#footer ul li{
	display:inline;
	float:right;
}

#footer ul li a{
	padding:10px;
	color:white;
}
