<template name="Index">

<div class="panel panel-info" style = "width:500px; position:absolute; top:200px; left: 75px">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">BANCOS</h3>
  </div>
  <div class="panel-body">
  	<div class="img">
    	<img src="Banamex.png" width="110" height="90">
</div>
  </div>
</div>

<div class="panel panel-success" style = "width:500px; position:absolute; top:200px; left: 700px">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">TELEFONIA</h3>
  </div>
  <div class="panel-body">
    Telefonia
  </div>
</div>

<div class="panel panel-warning" style = "width:500px; position:absolute; top:400px; left: 350px">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">TELEFONIA</h3>
  </div>
  <div class="panel-body">
    Telefonia
  </div>
</div>

</template>





