<template name="Index">

<div style = "top:50px" align = "center">
	<img src = "Logo.jpg" style = "width:180px; height:180px">
</div>


<div class="panel panel-info" style = "width:500px; margin: 20px auto;">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">BANCOS</h3>
  </div>
  <div class="panel-body">
  	<div class="img">
      <a id="Banamex" href="{{pathFor 'BancosIndex'}}">
    	 <img src="Banamex.png">
      </a>
	</div>
	<div class="img">
      <a id="Banorte" href="{{pathFor 'BancosIndex'}}">
    	 <img src="Banorte.png">
      </a>
	</div>
	<div  class="img">
		<a id = "Bancomer" href = "{{pathFor 'BancosIndex'}}">
			<img src="Bancomer.png">
		</a>
	</div>
  </div>
</div>

<div class="panel panel-success" style = "width:500px; margin: 20px auto;">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">TELEFONIA</h3>
  </div>
  <div class="panel-body">
  	<div class="img">
  		<a id = "Telcel" href = "{{pathFor 'TelefoniaIndex'}}">
    		<img src="Telcel.png">
    	</a>
	</div>
	<div class="img">
		<a id = "Movistar" href = "{{pathFor 'TelefoniaIndex'}}">
    		<img src="Movistarxx.jpg" >
    	</a>
	</div>
	<div  class="img">
		<a id = "Iusacell" href = "{{pathFor 'TelefoniaIndex'}}">
    		<img src="Iusacell.jpg" >
    	</a>
	</div>
  </div>
</div>

<div class="panel panel-warning" style = "width:500px; margin: 20px auto;">
  <div class="panel-heading">
    <h3 class="panel-title" align = "center">SERVICIOS</h3>
  </div>
  <div class="panel-body">
  	<div class="img">
  		<a id = "Cablevision" href = "{{pathFor 'ServiciosIndex'}}">
   			<img src="Cablevision.png">
   		</a>
	</div>
	<div  class="img">
		<a id = "Ayd" href = "{{pathFor 'ServiciosIndex'}}">
    		<img class = "ayd" src="Ayd.jpg">
    	</a>
	</div>
  </div>
</div>

<div id="footer">
	<div class="sized">
		<a class="logo" href="/">No Time</a>
		<ul>
			<li>
				<a href="/creative-jobs/">Search Creative Jobs</a>
				<a href="/online-portfolio-templates/" target="_self">Create a Portfolio Website</a>
				<a href="https://twitter.com/krop_jobs" target="_self">Follow our jobs on Twitter</a>
			</li>
			<li>
				<a href="/about/" target="_self">About/Contact</a>
				<a href="/blog/" target="_self">Company Blog</a>
				<a href="/pluckt/" target="_self">Staff Selections</a>
			</li>
			<li>
				<h4>Employers:</h4>
				<a href="/employer/" target="_self">Post a Job</a>
				<a href="/employer/search/" target="_self">Search Resumes</a>
			</li>
			<li>
				<a href="/support/" target="_self">Support</a>
				<a ng-show="didAuth &amp;&amp; !isAuthenticated" href="/login/" target="_self" class="">Login</a>
				<a ng-show="didAuth &amp;&amp; isAuthenticated" href="/logout/" target="_self" class="ng-hide">Logout</a>
			</li>
		</ul>
	</div>
</div>

</template>





