<template name="DarAlta">
	<div style="padding-top:10px; padding-left:50px">
		<form role="form">
		  <div class="form-group">
		    <label>Banco</label>
		    <input type="text" class="form-control" id="banco" placeholder="Banco">
		  </div>
		  <div class="form-group">
		    <label>Sucursal</label>
		    <input type="text" class="form-control" id="sucursal" placeholder="Sucursal">
		  </div>
		  <div class="form-group">
		    <label>Direccion</label>
		    <input type="text" class="form-control" id="direccion" placeholder="Direccion">
		  </div>
		  <div class="form-group">
		    <label>Numero</label>
		    <input type="text" class="form-control" id="numero" placeholder="Numero">
		  </div>
		  <div class="form-group">
		    <label>Colonia</label>
		    <input type="text" class="form-control" id="colonia" placeholder="Colonia">
		  </div>
		  <div class="form-group">
		    <label>CP</label>
		    <input type="text" class="form-control" id="cp" placeholder="CP">
		  </div>
		  <div class="form-group">
		    <label>Telefono</label>
		    <input type="text" class="form-control" id="telefono" placeholder="Telefono">
		  </div>
		  <div class="form-group">
		    <label>Horario LV</label>
		    <input type="text" class="form-control" id="horarioLV" placeholder="Horario LV">
		  </div>
		  <div class="form-group">
		    <label>HorarioS</label>
		    <input type="text" class="form-control" id="horarioS" placeholder="HorarioS">
		  </div>
		  <div class="form-group">
		    <label>HorarioD</label>
		    <input type="text" class="form-control" id="horarioD" placeholder="HorarioD">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</template>