<template name="DarAlta">
  	<div style="padding-top:10px; padding-left:50px">
		<form role="form">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Banco</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Banco">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Direccion</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Direccion">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Numero</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Numero">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Colonia</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Colonia">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">CP</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="CP">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Telefono</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Telefono">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Horario LV</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Horario LV">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">HorarioS</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="HorarioS">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">HorarioD</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="HorarioD">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</template>